In [1]:
import pandas as pd

In [9]:
# df = pd.read_csv('test.csv')

# Read only parts
df = pd.read_csv('test.csv', nrows=100, skiprows=500)
df.head(5)

   499     big  44  green   True  2022-10-20   0.841
0  500     big  41   blue  False  2022-12-08  0.2104
1  501     big   8  green   True  2020-07-04  0.6850
2  502  medium  21  green  False  2021-06-24  0.8755
3  503  medium  41    red   True  2020-07-22  0.5244
4  504  medium  16   blue  False  2022-01-28  0.2870

In [11]:
df.columns = ["Index", "size", "age", "team", "win", "date", "prob"]
df.head()

   Index    size  age   team    win        date    prob
0    500     big   41   blue  False  2022-12-08  0.2104
1    501     big    8  green   True  2020-07-04  0.6850
2    502  medium   21  green  False  2021-06-24  0.8755
3    503  medium   41    red   True  2020-07-22  0.5244
4    504  medium   16   blue  False  2022-01-28  0.2870

In [12]:
metric_results = pd.Series([], dtype="float64")

In [14]:
metric_results = pd.concat([metric_results, df.age/df.prob])

In [15]:
metric_results

0     194.866920
1      11.678832
2      23.986294
3      78.184592
4      55.749129
         ...
95     49.878866
96      4.444444
97     55.045872
98     68.867733
99     56.435463
Length: 100, dtype: float64

In [16]:
counter = 0
metric_results = pd.Series([], dtype="float64")

for chunk in pd.read_csv("test.csv", chunksize=1000):
    chunk.columns = ["Index", "size", "age", "team", "win", "date", "prob"]
    metric_results = pd.concat([metric_results, chunk.age/chunk.prob])
    counter += 1
    # if counter == 20:
    #     break
metric_results

0          37.753657
1           6.165228
2          27.478334
3          32.884903
4          75.407443
             ...
4999995    25.059666
4999996     8.706468
4999997    33.557047
4999998    35.971223
4999999    27.383367
Length: 5000000, dtype: float64