#### Question: #1 
We have a table with employees and their salaries, however, some of the records are old and contain outdated salary information. Find the current salary of each employee assuming that salaries increase each year. Output their id, first name, last name, department ID, and current salary. Order your list by employee ID in ascending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
sorted_salaries = ms_employee_salary.sort_values(['salary'], ascending=False)

current_salaries = sorted_salaries.drop_duplicates(['id'])

result = current_salaries.sort_values(['id'])

result

id	first_name	last_name	salary	department_id
1	Todd	Wilson	110000	1006
2	Justin	Simon	130000	1005
3	Kelly	Rosario	42689	1002
4	Patricia	Powell	170000	1004
5	Sherry	Golden	44101	1002